# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.pyc
.cpython-*

# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de logs
*.log
logs/

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Archivos de configuración local
.env
.env.local
